{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:check-deps       {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                              :main-opts ["-m" "antq.core"]}
           :check-reflection {:main-opts ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                          "-e" "(require,'space-age.server)"]}
           :default-ssl-opts {:jvm-opts ["-Djavax.net.ssl.keyStore=keystore.pkcs12"
                                         "-Djavax.net.ssl.keyStorePassword=moonshot"
                                         "-Dsni.hostname=localhost"]}
           :run-server       {:main-opts ["-m" "space-age.server"]}}}
